@page "/change-password"

<body>
    <form class="row g-3" @onsubmit="PasswordHandler">
        <div class="login-container d-flex align-items-center justify-content-center vh-100">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1 class="card-title text-center mb-5">Change Password</h1>
                    <div class="form-group">

                        <label class="form-label">Current Password</label>
                        <input class="form-control" @bind="currentPassword"> <br />

                        <label class="form-label">New password</label>
                        <input class="form-control" @bind="newPassword" /> <br />

                        <label class="form-label">Confirm password</label>
                        <input class="form-control" @bind="confirmPassword" /> <br />

                        <div class="sidebar align-content-center">
                            <button type="submit" class="btn btn-primary btn-lg w-100">Save</button>
                        </div>
                    </div><br />
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-success" style="background-color: red" role="alert">
                            @errorMessage
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(message))
                    {
                        <div class="alert alert-success" role="alert">
                            @message
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</body>

@code {
    [CascadingParameter]
    // private GlobalState globalState { get; set; } = new GlobalState();
    private string currentPassword { get; set; }
    private string newPassword { get; set; }
    private string confirmPassword { get; set; }
    private string message = "";
    private string errorMessage = "";

    private async void PasswordHandler()
    {
        if (string.IsNullOrEmpty(newPassword) || string.IsNullOrEmpty(confirmPassword))
        {
            
            errorMessage = "The field is empty!";
        }
        else 
        {
            if (currentPassword != newPassword)
            {

            }
            var response = UserServices.ChangePassword(UserServices.CurrentUser.Id, newPassword, confirmPassword);
            if (response == "success")
            {
                message = "Password change is successful.";
            }
            else
            {
                errorMessage = response;
            }       
        }
    }
 }