@page "/data-analysis"

<h3>Coffee Orders Pie Chart</h3>

<asp:Chart ID="xxyyzz" runat="server" ImageType="Jpeg">
       <Series>
            <asp:Series Name="xx" YValueType="Int32" 
                 ChartType="Pie" ChartArea="Default" Legend="yyy" 
                 ToolTip="whatever your wanna do">
            </asp:Series>
       </Series>
       <ChartAreas>
            <asp:ChartArea Name="Default">
                 <Area3DStyle Enable3D="True" />
            </asp:ChartArea>
       </ChartAreas>
       <Legends>
            <asp:Legend Name="yyy">
            </asp:Legend>
       </Legends>
  </asp:Chart>

  @code {

  }

